<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssarl.sbtformanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SendNotificationsActivity"></activity>
        <activity android:name=".DeleteUsersActivity" />
        <activity android:name=".ShowFeedbackActivity" />
        <activity android:name=".DeleteQuestionsActivity" />
        <activity android:name=".GraphAverageActivity" />
        <activity android:name=".GraphEachValueActivity" />
        <activity android:name=".MakeQuestionsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>